{% extends 'base2.html' %}

{% load static %}

{% block content %}

    <!-- ***** Breadcrumb Area Start ***** -->
    <section class="breadcrumb-area overlay-dark d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Breamcrumb Content -->
                    <div class="breadcrumb-content text-center">
                        <h2 class="m-0">Blog</h2>
                        <ol class="breadcrumb d-flex justify-content-center">
                            <li class="breadcrumb-item"><a href="odd-index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Community</a></li>
                            <li class="breadcrumb-item active">Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="blog-area load-more">
        <div class="container">
            <div class="row items">
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_1.html' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Junaid Hasan</a></li>
                                <li><a href="#">Feb 19, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>Decentralizing NFT metadata on NetStorm</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_2.jpg' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Junaid Hasan</a></li>
                                <li><a href="#">Feb 19, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>The Lost Art Of Photography</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_3.html' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Sara Scotch</a></li>
                                <li><a href="#">Jul 17, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>Save Thousands Of Lives Through This NFT</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_4.jpg' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">John Deo</a></li>
                                <li><a href="#">Aug 22, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>Golden State announce legacy NFT collection</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_5.html' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Yasmin Akter</a></li>
                                <li><a href="#">Mar 19, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>Control Your Own Top Level Domain on the DNS & ENS</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_6.html' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Arham</a></li>
                                <li><a href="#">Jan 31, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>Klaytn NFTs are coming to NetStorm</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_7.jpg' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Artnox</a></li>
                                <li><a href="#">Mar 05, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>NetStorm raises $12M to scale the largest marketplace for NFTs</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_8.jpg' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">William</a></li>
                                <li><a href="#">May 12, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>How to safely purchase NFTs on NetStorm</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <!-- Single Blog -->
                    <div class="card blog-card">
                        <!-- Blog Thumb -->
                        <div class="blog-thumb">
                            <a href="odd-blog-single.html"><img src="{% static 'assets/img/blog/blog_9.html' %}" alt=""></a>
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Meta Info -->
                            <ul class="meta-info d-flex justify-content-between list-unstyled mt-4">
                                <li>By <a href="#">Johnson</a></li>
                                <li><a href="#">Sep 01, 2021</a></li>
                            </ul>
                            <!-- Blog Title -->
                            <a href="odd-blog-single.html">
                                <h4>The beginner’s guide to creating & selling digital art NFTs</h4>
                            </a>
                            <p>Lorem ipsum dolor, sit voluptatem consectetur adipisicing elit.</p>  q
                            <!-- Blog Button -->
                            <a class="btn content-btn" href="odd-blog-single.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a id="load-btn" class="btn btn-bordered-white mt-5" href="#">Load More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

{% endblock %}