{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- ***** Explore Area Start ***** -->
    <section class="explore-area load-more p-0" style="margin-top: 2%">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Intro -->
                    <div class="intro d-flex justify-content-between align-items-end m-0">
                        <div class="intro-content">
                            <span>Exclusive Assets</span>
                            <h3 class="mt-3 mb-0">Explore</h3>
                        </div>
                        {#                            <div class="intro-btn">#}
                        {#                                <a class="btn content-btn" href="odd-explore-3.html">View All</a>#}
                        {#                            </div>#}
                    </div>
                </div>
            </div>
            <div class="row items">
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_1.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Walking On Air</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Richard</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>1.5 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_2.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Domain Names</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">John Deo</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>2.7 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_3.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Trading Cards</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Arham</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>2.3 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_4.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Industrial Revolution</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Yasmin</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>1.8 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_5.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Utility</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Junaid</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>1.7 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_6.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Sports</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">ArtNox</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>1.7 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_7.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Cartoon Heroes</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Junaid</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>3.2 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_8.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Gaming Chair</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Johnson</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>0.69 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_9.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Utility</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Junaid</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>1.7 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_10.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Sports</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">ArtNox</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>1.7 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_11.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Cartoon Heroes</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Junaid</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>3.2 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-item-details.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <div class="card">
                        <div class="image-over">
                            <a href="odd-item-details.html">
                                <img class="card-img-top" src="{% static 'assets/img/content/auction_12.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Card Caption -->
                        <div class="card-caption col-12 p-0">
                            <!-- Card Body -->
                            <div class="card-body">
                                <a href="odd-item-details.html">
                                    <h5 class="mb-0">Gaming Chair</h5>
                                </a>
                                <div class="seller d-flex align-items-center my-3">
                                    <span>Owned By</span>
                                    <a href="odd-author.html">
                                        <h6 class="ml-2 mb-0">Johnson</h6>
                                    </a>
                                </div>
                                <div class="card-bottom d-flex justify-content-between">
                                    <span>0.69 ETH</span>
                                    <span>1 of 1</span>
                                </div>
                                <a class="btn btn-bordered-white btn-smaller mt-3" href="odd-login.html"><i
                                        class="icon-handbag mr-2"></i>Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a id="load-btn" class="btn btn-bordered-white mt-5" href="#">Load More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area End ***** -->

    <!-- ***** Work Area Start ***** -->
    <section class="work-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Intro -->
                    <div class="intro mb-4">
                        <div class="intro-content">
                            <span>How It Works</span>
                            <h3 class="mt-3 mb-0">Create and sell your NFTs</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items">
                <div class="col-12 col-sm-6 col-lg-2 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <i class="icons icon-wallet text-effect"></i>
                        <h4>Create an account</h4>
                        <p>The first step is to create an account on our platform. We guide you during all the steps in
                            a smooth way.</p>
                        <div class="button-group">
                            <a class="btn btn-bordered-white" href="{% url 'accounts:signup' %}"><i
                                    class="icon-rocket mr-2"></i>GET STARTED</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <i class="icons icon-grid text-effect"></i>
                        <h4>Upload your content</h4>
                        <p>PNG, JPEG, MP4, GIF...</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <i class="icons icon-drawer text-effect"></i>
                        <h4>We do our thing</h4>
                        <p>This is where the magic happens. We create an NFT based on your art and put it into a
                            blockchain, that means once it’s uploaded it’ll last forever and ever… and ever.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 tem">
                    <!-- Single Work -->
                    <div class="single-work">
                        <i class="icons icon-bag text-effect"></i>
                        <h4>Item is listed</h4>
                        <p>We put your digitalized item onto marketplaces, where buyers can make offers.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <i class="icons icon-credit-card text-effect"></i>
                        <h4>Item is sold</h4>
                        <p>We receive the money (in cryptocurrencies) from the sale on our wallet then send it to yours.
                            Once you’ve got the cryptocurrencies, you can sell it for your local currency if you want...
                            Easy money.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Work Area End ***** -->



    <!-- ***** Work Area Start ***** -->
    <section class="work-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Intro -->
                    <div class="intro mb-4">
                        <div class="intro-content">
                            <span>NFT</span>
                            <h3 class="mt-3 mb-0">What is an NFT?</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items">
                <div class="col-12 col-sm-12 col-lg-12 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <p>NFT stands for Non-Fungible Token, but what the f*ck does that mean ?
                            Right, sorry. “Non-fungible” means that it’s unique and can’t be replaced with something
                            else.
                            Basically an NFT is pretty much like a physical object, you can transfer it and can’t be
                            duplicated. Of course you can create the same object, painting or NFT using the same
                            techniques but it will not be exactly the same. In that game, like in the physical art
                            market, the first created is the original and so the valuable one.
                            Blockchain technology permits everyone to verify when, by who, how an NFT was created and
                            who owns it.
                            Technically an NFT is a unique piece of information representing a digital good (like an
                            image) stored forever in a blockchain.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Work Area End ***** -->


    <!-- ***** Work Area Start ***** -->
    <section class="work-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Intro -->
                    <div class="intro mb-4">
                        <div class="intro-content">
                            <span>NFT</span>
                            <h3 class="mt-3 mb-0">Your art forever
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items">
                <div class="col-12 col-sm-12 col-lg-12 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <p>We're gonna get a bit technical here and talk about Bitcoin related stuff, sorry.
                            Once turned as an NFT your art will last forever, why ? Thanks to blockchain technology and
                            IPFS.
                            IPFS is a decentralized system to store files, once a file is uploaded it is replicated
                            across many computers around the world. It ensures that the file will always be accessible
                            for anyone who knows it’s identifier.
                            Then we use the Polygon Network (a layer 2 solution for Ethereum) to create a unique token
                            (an NFT) that contains the IPFS identifier of your art. That means, nobody will be able to
                            alter your art ever.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Work Area End ***** -->
    <!-- ***** Work Area Start ***** -->
    <section class="work-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Intro -->
                    <div class="intro mb-4">
                        <div class="intro-content">
                            <span>NFT</span>
                            <h3 class="mt-3 mb-0">Why it’s free ?
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items">
                <div class="col-12 col-sm-12 col-lg-12 item">
                    <!-- Single Work -->
                    <div class="single-work">
                        <p>The Cranft.art project aims to help independent artists, like art students, to make money
                            from their passion. Earning money with art was quite tricky back in the days but hopefully
                            we are in 2021 and there are many technologies to help. These technologies are Internet,
                            Blockchain, Cryptocurrencies and NFT. Combined together they give superpowers to artists,
                            Cranft.art is here to make it happen.
                            Creating an NFT costs money, there are many fees along the way, but don’t worry we take care
                            of that.
                            Once an NFT is sold, the money (in cryptocurrencies) from the sale is sent to our wallet,
                            then we send it to yours. This is where we take our cut. The rate is 70% for you, 20%* to
                            pay fees and maintain the platform and 10%* for the founders.
                            *These values can slightly vary.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Work Area End ***** -->


{% endblock %}